* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #131212;
  color: #fff;
  transition: background-color 0.5s ease;
}

.container {
  text-align: center;
}

button {
  padding: 15px 25px;
  font-size: 1em;
  background-color: #fff;
  color: #131212;
  margin-top: 10px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  box-shadow: 15px 15px 25px rgba(0, 0, 0, 0.2);
}
